# Flutter / Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/

# Android
.gradle/
android/.gradle/
android/local.properties
android/**/GeneratedPluginRegistrant.java

# IDE
.idea/
*.iml

# macOS
.DS_Store

# VS Code
.vscode/
